{% if config %}

{% if config.title %}<h2>{{config.title}}</h2>{% endif %}

{% if config.description %}
<p>
  {{ config.description|markdown|safe }}
</p>
{% endif %}

{% endif %}


<h2>Available calendars</h2>
<ul>
  {% for c in calendars if not c.base == 'example'%}

  <li>
    <a href="{{ c.furl }}">{{ c.data.name or c.fics }}</a>
    {%- if c.data.description %}: {{c.data.description}} {% endif %}
    {% if timezones -%}
    (view in {% for tz in timezones -%}
    <a href="{{c.furl}}.{{tz.tzslug}}.txt">{{tz.tz}}</a>{%if not loop.last%}, {% endif %}
    {%- endfor -%}
    )
    {%- endif %}
    {% if c.data.links -%}
    ( {%- for href, text in c.data.links %}<a href="{{href}}">{{text}}</a>{% endfor %}{%if not loop.last%}, {% endif -%}
    )
    {%- endif %}
  </li>
  {%- endfor %}

</ul>

<h2>How to subscribe</h2>
<p>
  You can subscribe to these calendars in your calendar program.  This
  will periodically import the events by polling the URL, so that you
  get updates (usually with a few hours of delay).  Most programs
  implement this as creating a new calendar which can be toggled on or
  off.  Right click on the link above, "Copy link", and then...
</p>

<ul>
  <li>
    Google calendar: Other calendars (left sidebar) → "+" to add new →
    From URL.
  </li>
  <li>
    Outlook web: Add Calendar → Subscribe from web.
  </li>
  <li>
    Thunderbird: Left sidebar → Calendar → "+" to add new → On the
    network → This location doesn't require credentials → paste URL →
    ... . Please set to update infrequently.
   </li>
  <li>
    Zimbra: "Add new calendar" → "Add external calendar
    (other)", "iCAL Subscription" → Paste URL → ... .
   </li>
</ul>

<p>
  Each of these methods creates a new calendar (that can be
  toggled on and off) separate from your primary one.  You can
  copy single events to your primary calendar by clicking on
  them, this will also mark your time as "busy" then.
</p>

{% if edit_link %}
  <h2>How to add events</h2>

      <p>
    <a href="{{ edit_link }}">You can add or edit events through this GitHub repository</a>.
  </p>

  <hr>
{% endif %}

<p>
  Last update: {{timestamp}} (git revision {{git_hash}})
</p>
